/*GENERAL STYLES*/
body{
	font-family: Arial, San-Serif;
	font-size: 100%;
}

/*NAVIGATION*/
.navbar{
	opacity: 0.85;
}

/*HEADER*/
.carousel-inner img {
    width: 100%;
    margin: auto;
  }
.item p, h3 {
	color: #FFFFFF;
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

@media (max-width: 600px) {
    .carousel-caption {
    display: none; /*Hide the carousel text*/
    }
}

/*MAIN PART*/
.container-fluid img{
	width: 60%;
	height: auto;
}
.row {
    padding: 60px 60px 60px 60px; 
  }

#Description, #HabitatAndDiet, #Video{
	background-color: #F0FFFF;
}
#Description img, #HabitatAndDiet img{
	float: right;
}
#GeneralInformation, #Population, #BehaviorAndReproduction, #CommentsSlider{
	background-color: #F0F8FF;
} 
img{
	transition: width 1s, height 1s;
}
img:hover {
	width: 103%;
	height: 103%;
}


/*FOOTER*/
#Footer {
	background-color: #000000;
	padding-top: 20px;
}
