/*GENERAL STYLES*/
body{
	font-family: Arial, San-Serif;
	font-size: 100%;
	padding-top: 50px;
}

/*NAVIGATION*/
.navbar{
	opacity: 0.85;
}

/*HEADER*/
.carousel-inner img {
    width: 100%;
    margin: auto;
  }
.item p, h3 {
	color: #FFFFFF;
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


/*MAIN PART*/
.page-header {
	padding-top: 15px;/*for navbar not overlabs page-header*/
}

.row {
    padding: 60px 60px 60px 60px; 
  }

#Description, #HabitatAndDiet, #Video{
	background-color: #F0FFFF;
}

#GeneralInformation, #Population, #BehaviorAndReproduction, #CommentsSlider, #CommentsAdd{
	background-color: #F0F8FF;
}

#CommentsSlider{
	padding-left: 0px;
	padding-right: 0px;
} 



/*FOOTER*/
#Footer {
	background-color: #000000;
	padding-top: 20px;
	opacity: 0.85;
}

/*PHONE*/

@media (max-width: 767px) {
    .carousel-caption {
    display: none; /*Hide the carousel text*/
    }
    img {
    	width: 100%;
    	height: auto;
    	margin-bottom: 40px;
    }
    .row {
    	padding: 0px 30px 30px 30px;
    }
    #GeneralImage{
    	padding-top: 40px;
    }
}

/*TABLET*/

@media(min-width: 768px) and (max-width: 991px) {
	#Description img, #HabitatAndDiet img {
		float: right;
	}
	 img {
    	width: 100%;
    	height: auto;
    }
}

/*NOTEBOOK AND PERSONAL COMPUTERS*/

@media(min-width: 992px) {
	#Description img, #HabitatAndDiet img {
		float: right;
	}
	img {
		width: 60%;
		height: auto;
		transition: width 1s, height 1s;
	}
	img:hover {
		width: 103%;
		height: 103%;
	}
}

