/*GENERAL STYLES*/
body{
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
 
.container {
	margin: 0 auto;
	width: 50%
}

/*NAVIGATION
.page-navigation {
	background-color: 	#FFFFFF;
	height: auto;
	min-height: 100px;
	text-align: center; 
}
.page-navigation li, img {
	float: left;

	margin: 30px 30px 0 30px;
}

.page-navigation li a {
    display: block;
    color: 	#008B8B;
    text-align: center;
    
    text-decoration: none;
}

.page-navigation li a:hover {
    text-shadow:5px 5px 10px #87CEEB;
}  */

/*HEADER
.header {
	margin: 10px 0 10px 0;
	padding: 200px 0;
	background-image: url("../image/seal0.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
}
.header h1,
 .header h3{
 	text-shadow:5px 5px 10px black;
 	font-size: 400%;
	color: #008B8B;
	text-align: center;
}*/

.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
.carousel-caption h3 {
      color: #FFFFFF !important;
      text-shadow:5px 5px 10px black;
  }
@media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }

/*MAIN PART*/

.collections {
	overflow: auto;

}
.mainsection-header{
	margin: 10px 0 10px 0;
	padding: 200px 0;
	background-repeat: no-repeat;
	background-size: 100%;
}

.mainsection-header h2{
	text-shadow:5px 5px 10px black;
 	font-size: 400%;
	color: #008B8B;
	text-align: center;
}
#Description {
	background-image: url("../image/seal.jpg");
}

#Population {
	background-image: url("../image/seal1.jpg");	
}

#HabitatAndDiet {
	background-image: url("../image/seal2.jpg");	
}

#BehaviorAndReproduction {
	background-image: url("../image/seal3.jpg");	
}

.text {
	margin: 50px;
	font-size: 130%;
	border: 2px solid 	#B0E0E6;
    border-radius: 8px;
    padding: 20px;

}


/*FOOTER*/
.footer {
	background-color: #FFFFFF;
	color: #008B8B;
	padding: 20px 0;
	margin-top: 30px;
}