<!DOCTYPE html>
<html ng-app="seal" lang="en-US">
<head>
	<title>Seal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		  	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<script type="text/javascript" src="script/app.js"></script>
</head>

<body ng-controller="CommentsController" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!--NAVIGATION-->
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
       			<span class="icon-bar"></span>
      			</button>
				<a class="navbar-brand" href="#myPage">Seals</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">	
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#Description">Description</a></li>
					<li><a href="#Population">Population</a></li>
					<li><a href="#HabitatAndDiet">Habitat and diet</a></li>
					<li><a href="#BehaviorAndReproduction">Behavior and reproduction</a></li>
					<li><a href="#Video">Video</a></li>
					<li><a href="#CommentsSlider">Comments</a></li>
				</ul>
			</div>
		</div>		
	</nav>
	<!--/NAVIGATION-->

	<!--HEADER-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="image/seal0.jpg" alt="seal" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Harbor Seals</h3>
          <p>You Love us!</p>
        </div>
      </div>

      <div class="item">
        <img src="image/seal.jpg" alt="seal" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Description</h3>
          <p>Learn more about me!</p>
        </div>
      </div>

      <div class="item">
        <img src="image/seal1.jpg" alt="seal" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Population</h3>
          <p>Find me!</p>
        </div>
      </div>

      <div class="item">
        <img src="image/seal2.jpg" alt="seal" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Habitat and diet</h3>
          <p>Feed me!</p>
        </div>
      </div>

      <div class="item">
        <img src="image/seal3.jpg" alt="seal" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Behavior and reproduction</h3>
          <p>Play with me!</p>
        </div>
      </div>    
      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
	<!--/HEADER-->


	<!--MAIN SECTION-->
	<main>	
		<!--GENERAL INFORMATION-->
			<div class="container-fluid" id="GeneralInformation">
  				<div class="row">  					
    				<div class="col-sm-4">
      					<img src="image/seal4.jpg" alt="seal" class="img-rounded" id="GeneralImage">
    				</div>
    				<div class="col-sm-8">
     					<p>The harbor (or harbour) seal (Phoca vitulina), also known as the common seal, is a true seal found along temperate and Arctic marine coastlines of the Northern Hemisphere. The most widely distributed species of pinniped (walruses, eared seals, and true seals), they are found in coastal waters of the northern Atlantic and Pacific oceans, the Baltic and North Seas.
						</p>
						<p>Harbor seals are brown, tan, or gray, with distinctive V-shaped nostrils. An adult can attain a length of 1.85 meters (6.1 ft) and a mass of 132 kilograms (290 lb). Blubber under the seal's skin helps to maintain body temperature. Females outlive males (30–35 years versus 20–25 years). Harbor seals stick to familiar resting spots or haulout sites, generally rocky areas (although ice, sand and mud may also be used) where they are protected from adverse weather conditions and predation, near a foraging area. Males may fight over mates underwater and on land. Females bear a single pup after a nine-month gestation, which they care for alone. Pups can weigh up to 16 kg (35 lb) and are able to swim and dive within hours of birth. They develop quickly on their mothers' fat-rich milk and are weaned after four to six weeks.
						</p>
						<p>The global population of harbor seals is 350,000–500,000, but subspecies in certain habitats are threatened. Once a common practice, sealing is now illegal in many nations within the animal's range.
						</p>
    				</div>
  				</div>
			</div>
		<!--/GENERAL INFORMATION-->
		<!--FIRST INFORMATION BLOCK-->	
			<div class="container-fluid" id="Description">
				<h2 class="page-header text-center">Description</h2><br>
  				<div class="row">  					
    				<div class="col-sm-4 col-sm-push-8">
     					<img src="image/seal5.jpg" alt="seal" class="img-rounded">
    				</div> 
    				<div class="col-sm-8 col-sm-pull-4">      					
      					<p>Individual harbor seals possess a unique pattern of spots, either dark on a light background or light on a dark. They vary in color from brownish black to tan or grey; underparts are generally lighter. The body and flippers are short, heads are rounded. Nostrils appear distinctively V-shaped. As with other true seals, there is no pinna (ear flap). An ear canal may be visible behind the eye. Including the head and flippers, they may reach an adult length of 1.85 meters (6.1 ft) and a weight of 55 to 168 kg (120 to 370 lb). Females are generally smaller than males.
						</p>
    				</div>
  				</div>
			</div>	
		<!--/FIRST INFORMATION BLOCK-->			
		<!--SECOND INFORMATION BLOCK-->	
			<div class="container-fluid" id="Population">
				<h2 class="page-header text-center">Population</h2><br>
				<div class="row">
					<div class="col-sm-4">
						<img src="image/seal6.jpg" alt="seal" class="img-rounded">					
					</div>
					<div class="col-sm-8">						
						<p>There are an estimated 350,000–500,000 harbor seals worldwide. While the population is not threatened as a whole, the Greenland, Hokkaidō and Baltic Sea populations are exceptions. Local populations have been reduced or eliminated through disease (especially the phocine distemper virus) and conflict with humans, both unintentionally and intentionally. It is legal to kill seals perceived to threaten fisheries in the United Kingdom, Norway and Canada, but commercial hunting is illegal. Seals are also taken in subsistence hunting and accidentally as bycatch (mainly in bottomset nets). Along the Norwegian coast bycatch accounted for 48% of pup mortality.
						</p>
						<p>Seals in the United Kingdom are protected by the 1970 Conservation of Seals Act, which prohibits most forms of killing. In the United States the Marine Mammal Protection Act of 1972 prohibits the killing of any marine mammals and most local ordinances as well as NOAA instruct citizens to leave them alone unless there is serious danger to the seal.		
						</p>
					</div>				
				</div>
			</div>	
		<!--/SECOND INFORMATION BLOCK-->
		<!--THIRD INFORMATION BLOCK-->	
			<div class="container-fluid" id="HabitatAndDiet">
				<h2 class="page-header text-center">Habitat and diet</h2><br>
				<div class="row">					
					<div class="col-sm-4 col-sm-push-8">
     					<img src="image/seal7.jpg" alt="seal" class="img-rounded">
    				</div>
					<div class="col-sm-8 col-sm-pull-4">	
						<p>Harbor seals prefer to frequent familiar resting sites. They may spend several days at sea and travel up to 50 kilometers in search of feeding grounds, and will also swim some distance upstream into freshwater in large rivers. Resting sites may be both rugged, rocky coasts, such as those of the Hebrides or the shorelines of New England, or sandy beaches. Harbor seals frequently congregate in harbors, sandy intertidal zones, and estuaries in pursuit of prey fish such as menhaden, anchovy, sea bass, herring, mackerel, cod, whiting and flatfish, and occasionally shrimp, crabs, mollusks and squid. Atlantic subspecies of either Europe or North America will also exploit deeper dwelling fish of the genus Ammodytes as a food source and Pacific subspecies have been recorded occasionally consuming fish of the genus Oncorhynchus. Although primarily coastal, dives to over 500 m have been recorded. Harbor seals have been recorded to attack, kill and eat several kinds of duck.
						</p>
					</div>				
				</div>
			</div>	
		<!--/THIRD INFORMATION BLOCK-->
		<!--FOURTH INFORMATION BLOCK-->	
			<div class="container-fluid" id="BehaviorAndReproduction">
				<h2 class="page-header text-center">Behavior and reproduction</h2><br>
				<div class="row">
					<div class="col-sm-4">
     					<img src="image/seal8.jpg" alt="seal" class="img-rounded">
    				</div>
					<div class="col-sm-8">
						<p>Harbor seals are solitary but are gregarious when hauled out and during the breeding season, though they do not form groups as large as some other seals. When not actively feeding they will haul to rest. They tend to be coastal, not venturing more than 20 kilometers offshore. Both courtship and mating occur underwater. The mating system is not known, but thought to be polygamous. Females give birth once per year, with a gestation period of approximately nine months.
						</p>
						<p>Birthing of pups occurs annually on shore. The timing of the pupping season varies with location, occurring in February for populations in lower latitudes, and as late as July in the subarctic zone. The mothers are the sole providers of care, with lactation lasting four to six weeks. Researchers have found males gather underwater, turn on their backs, put their heads together and vocalize to attract females ready for breeding. The single pups are born well developed, capable of swimming and diving within hours. Suckling for three to four weeks, pups feed on the mother's rich, fatty milk and grow rapidly; born weighing up to 16 kilograms, the pups may double their weight by the time of weaning.	
						</p>
						<p>Harbor seals must spend a great deal of time on shore when moulting, which occurs shortly after breeding. This onshore time is important to the life cycle, and can be disturbed when there is substantial human presence. The timing of onset of moult depends on the age and sex of the animal, with yearlings moulting first and adult males last. A female will mate again immediately following the weaning of her pup. Harbor seals are sometimes reluctant to haul out in the presence of humans, so shoreline development and access must be carefully studied in known locations of seal haul out.	
						</p>
					</div>				
				</div>
			</div>	
		<!--/FOURTH INFORMATION BLOCK-->
		<!--VIDEO-->
		<div class="embed-responsive embed-responsive-16by9" id="Video">
  			<video class="embed-responsive-item" controls poster="image/sealvideo.jpg">
  				<source src="video/seals.mp4" type="video/mp4">
  			</video>
		</div>
		<!--/VIDEO-->
		<!--COMMENTS SLIDER-->
		<div class="container-fluid" id="CommentsSlider">
			<h2 class="page-header text-center">What you say about seals</h2>
			<div id="CommentsCarousel" class="carousel slide text-center" data-ride="carousel">
  			<!-- Indicators -->
 				 <ol class="carousel-indicators">
    				<li data-target="#CommentsCarousel" data-slide-to="0" class="active"></li>
    				<li data-target="#CommentsCarousel" data-slide-to="1"></li>
    				<li data-target="#CommentsCarousel" data-slide-to="2"></li>
  				</ol>

  			<!-- Wrapper for slides -->
	  			<div class="carousel-inner" role="listbox">
		    		<div class="item active">
		    			<h4>"They are so cute!"<br><span style="font-style:normal;">Chandler Bing</span></h4>	    			
		    		</div>
	    			<div ng-repeat="item in list.items" class="item">
	    				<h4>{{item.comment}}<br><span style="font-style:normal;">{{item.name}}</span></h4>     				
	    			</div>
			
	  			</div>

  			<!-- Left and right controls -->
	  			<a class="left carousel-control" href="#CommentsCarousel" role="button" data-slide="prev">
	    			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    			<span class="sr-only">Previous</span>
	  			</a>
	  			<a class="right carousel-control" href="#CommentsCarousel" role="button" data-slide="next">
	    			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    			<span class="sr-only">Next</span>
	  			</a>
			</div>
		</div>	
		<!--/COMMENTS SLIDER-->
		<!--COMMENTS ADD-->
		<div class="container-fluid" id="CommentsAdd">
			<h2 class="page-header text-center">Add your comment about seals!</h2><br>
			<form class="form-horizontal">
				<div class="form-group">										
					<div class="col-sm-offset-2 col-sm-8">
	  					<label for="usr">Name:</label> 	
	  					<input ng-model="name" type="text" class="form-control" id="usr">
	 				</div>	 				 				
				</div>
				<div class="form-group">					
					<div class="col-sm-offset-2 col-sm-8">
		  				<label for="comment">Comment:</label>
		  				<textarea ng-model="comment" class="form-control" rows="5" id="comment"></textarea>
		  			</div>			  				
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2">
        				<button ng-click="addComment(name, comment)" type="submit" class="btn btn-default">Send</button>
      				</div>
    			</div>
			</form>
		</div>
		<!--/COMMENTS ADD-->
	</main>
	<!--/MAIN SECTION-->
	<!--FOOTER-->
	<div class="container-fluid" id="Footer">					
		<p>&copy; 2016 Seal</p>				
	</div>	
	<!--/FOOTER-->

</body>
</html>